body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .card {
    margin: auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .hidden {
    display: none;
  }
  
  .khodam-result {
    font-weight: bold;
    font-size: 3.2em;
  }
  